* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 400px;
  margin: auto;
  scroll-snap-align: start;
  position: relative;
}




// like 
/* BIG HEART ANIMATION */
.dbl-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 90;
  pointer-events: none;
}.dbl-heart {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2000;
}

.dbl-heart i {
  color: #ff216e;
  font-size: 110px;
  animation: popHeart 0.6s ease-out forwards;
}

@keyframes popHeart {
  0% {
    transform: scale(0.2);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}



.Allreels {
  .reels {
    height: 100vh;
    width: 100%;
    position: relative;

    #reel {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
      z-index: 1;
    }

    .bottom {
      position: absolute;
      bottom: 20px;
      left: 10px;
      z-index: 5;
      color: white;

      .details {
        display: flex;
        align-items: center;
        gap: 10px;

        #profile, img {
          width: 33px;
          height: 30px;
          border-radius: 50%;
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
        }

        button {
          background-color: transparent;
          border: 1px solid white;
          padding: 4px 10px;
          font-size: 15px;
          border-radius: 2px;
          color: white;
        }
      }

      h4 {
        margin-top: 5px;
        font-size: 17px;
      }
    }

    .right {
      position: absolute;
      right: 15px;
      bottom: 100px;
      z-index: 5;
      display: flex;
      flex-direction: column;
      gap: 18px;
      align-items: center;
      font-size: 30px;
      text-shadow: 0px 0px 5px black;
      color: white;

      i {
        pointer-events: none;
        transition: 0.2s;
      }

      i:hover {
        transform: scale(1.3);
        filter: drop-shadow(0 0 5px white);
      }

      .like {
        i.ri-heart-fill {
          color: red;
        }
      }

      .like,
      .dislike,
      .Comment,
      .Share {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;

        h4 {
          font-size: 14px;
        }
      }
    }
  }
}
